<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>::: Artichoke, Comic Book Database :::</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/build/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/build/css/main.css" media="screen">
</head>
<body ng-app="jscomicdb">

   <div class="container" ng-controller="jsTitles">

       <div class="row">
           <div class="col-sm-12">
              <h3 class="page-header">[ Artichoke, Comic Book Database >> Catalogue ]</h3>
              <div class="page-header-menu"><a href="/admin">Admin</a></div>
           </div>
       </div>

      <div class="row">
         <div class="col-sm-3" id="left-menu">
               <ul id="titles-list">
                  <!-- <li ng-repeat="(k,v) in hello"><a href="index.html/{{k}}">{{v}}</a></li> -->
                  <li ng-repeat="title in titles">
                      <a href="#" ng-click="grabSeries(title.id)"><span class="glyphicon" ng-class="openSeries == title.id ? ' glyphicon-chevron-down' : ' glyphicon-chevron-right'" ></span>{{title.name}}</a>

                     <ul id="series-list" ng-show="title.id == series.series_id">
                        <li ng-if="book.id != 0" ng-repeat="book in series.series"><a href="#" ng-click="grabIssues(book.id)">{{book.title}}</a></li>
                        <li ng-if="book.id === 0" ng-repeat="book in series.series">{{book.title}}</li>
                     </ul>

                  </li>
               </ul>
         </div>

         <div class="col-sm-9">
            <div id="main-top">
               <h3 ng-show="issues">Issues</h3>
               <div id="comicgrid" class="clearfix">
                  <!-- {{issues}} -->
                  <div class="issue-box" ng-class="{own:issue.own == 'Y'}" ng-repeat="issue in issues">
                     <span ng-if="issue.own == 'N'">{{issue.issue}}</span>
                     <span ng-if="issue.own == 'Y'"><a href="#" ng-click="grabIssue(issue.issue_id)">{{issue.issue}}</a></span>
                  </div>
                  <!-- <div ng-if="issue.length === 0" >No issues listed</div> -->
               </div>
            </div>
            <div id="main-bottom">

               <table ng-show="issue" class="table table-hover">
               <tr>
                  <td class="issue-key">Issue Number:</td>
                  <td class="issue-val">{{issue.number}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Print Run:</td>
                  <td class="issue-val">{{issue.printrun}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Cover Date:</td>
                  <td class="issue-val">{{issue.coverdate}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Issue Type:</td>
                  <td class="issue-val">{{issue.type}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Location:</td>
                  <td class="issue-val">{{issue.location}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Quantity:</td>
                  <td class="issue-val">{{issue.quantity}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Status:</td>
                  <td class="issue-val">{{issue.status}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Condition:</td>
                  <td class="issue-val">{{issue.condition}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Cover Price:</td>
                  <td class="issue-val">{{issue.coverprice}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Purchase Price:</td>
                  <td class="issue-val">{{issue.purchaseprice}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Price Guide Value:</td>
                  <td class="issue-val">{{issue.priceguidevalue}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Issue Value:</td>
                  <td class="issue-val">{{issue.issuevalue}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Purchase Date: </td>
                  <td class="issue-val">{{issue.purchasedate}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Price Guide:</td>
                  <td class="issue-val">{{issue.priceguide}}</td>
               </tr>
               <tr>
                  <td class="issue-key">Comments:</td>
                  <td class="issue-val">{{issue.comments}}</td>
               </tr>
            </table>

            </div>


         </div>

      </div>
   </div>

    <script src="build/js/vendor.js"></script>
    <script src="build/js/app.js"></script>

</body>
</html>
